{
  "iasServiceInstanceName" : "java-ams-ias",
  "applicationType": "application",
  "appName": "java-ams-saas-((ID))",
  "appCallbacks": {
    "dependenciesCallbacks" : {},
    "subscriptionCallbacks" : {
      "url" : "https://java-ams-((ID)).((LANDSCAPE_APPS_DOMAIN))/v1.0/callback/tenants/{app_tid}"
    }
  },
  "displayName": "JAVA-AMS Sample from ((ID))",
  "description": "Multi-tenant app that consumes AMS. See also https://github.wdf.sap.corp/CPSecurity/ams-samples-java"
}
