../ams-samples-java/vars.yml

**/.DS_Store
npm-debug.log
build

# Certificate Files
*.pem

# rego files
dcl-target
*.rego


# vcap files
vcap.json
vcapAMS.json
vcapIasCerts.json

# default files
default-services.json
default-env.json

# IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# VSCode
.vscode


# Java
target

# K8s files
**/deployment-*.yml
**/tmp_*.json
**/tmp_*.yml
scripts/k8s/kubeconfig.yaml
**/tmp-*.json~
**/tmp-*.json



manifest_*.yml

*.pem


.gen/
_out/
dist/
edmx/
gen/
mta_archives/
node_modules/
target/

.DS_Store
*.log
*.mtar
connection.properties
default-env.json
.cdsrc-private.json
packages/messageBox
reviews/msg-box
reviews/db/test.db

*.openapi3.json
*.sqlite
*.db

@types/
@cds-models/
